# project dependencies
node_modules

# OS
.DS_Store

# text editors
.vscode
.idea

# secrets
.env

# build
.cache
.vercel
.output

/build
/public/build
/api/index.js
/app/tailwind.css

# misc
TODO.md
