# project dependencies
node_modules

# OS
.DS_Store

# text editors
.vscode/*
!.vscode/launch.json
.idea

# secrets
.env

# build
/build
/public/build
/app/posts
/coverage
tsconfig.tsbuildinfo
/test-results/
/playwright-report/
/playwright/.cache/
