# project dependencies
node_modules

# OS
.DS_Store

# text editors
.idea
.zed

# secrets
.env*.local

# build
/.cache
/build
/.react-router

# TypeScript
*.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache
