node_modules

/.cache
/build
/playwright-report

package-lock.json

# Prettier doesn't yet play nice with MDX v2, for example it can't keep JSX
# in a single line if it exceeds print width, which results in a nested <p>
*.mdx

# I like custom formatting better
*.css

# I don't want to change YAMLs now
*.yml
*.yaml
!lefthook.yml

README.md
