node_modules

/build
/public/build
/app/posts
.env

/app/styles/tailwind.css

# Prettier doesn't yet play nice with MDX v2, for example it can't keep JSX
# in a single line if it exceeds print width, which results in a nested <p>
*.mdx

# I like custom formatting better
*.css

# tsconfig.json supports trailing commas, but Prettier doesn't know that
tsconfig.json
