@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* ProseImage component */

  :root {
    --content-padding: theme('spacing.4');
  }

  /* Gitgraph component */

  :root {
    --gitgraph-color-branch-one: theme('colors.gray.500');
    --gitgraph-color-branch-two: theme('colors.purple.700');
    --gitgraph-color-branch-three: theme('colors.amber.600');
  }
  .dark {
    --gitgraph-color-branch-one: theme('colors.gray.200');
    --gitgraph-color-branch-two: theme('colors.purple.400');
    --gitgraph-color-branch-three: theme('colors.amber.400');
  }

}

@layer components {

  /* HotTip component */

  /* remove the bottom margin both from the last child and the last code block in light mode */
  /* which is 2nd to last because the last one is the hidden dark mode block */
  .hot-tip > *:where(*:last-child, pre:nth-last-child(2)) {
    @apply !mb-0;
  }
  .hot-tip pre {
    @apply mx-0;
  }

  .prose pre code .line {
    @apply block;
  }
  .prose code .highlighted {
    @apply bg-code-highlight dark:bg-code-highlight-dark
  }

  /* hand waving on the About page */

  .animate-hand-wave {
    animation-name: hand-wave;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    transform-origin: bottom;
  }
  @keyframes hand-wave {
      0% { transform: rotate(0.0deg)  }
     10% { transform: rotate(14.0deg) } /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate(0.0deg)  } /* Reset for the last half to pause */
    100% { transform: rotate(0.0deg)  }
  }

}

/* exclude this rule from purging because tweets are being loaded using a library */

.twitter-tweet {
  @apply mx-auto;
}

@layer utilities {

  /* TODO: how does this compare to Tailwind's overscroll-behavior utilities? */

  .overflow-scrolling-touch {
    -webkit-overflow-scrolling: touch;
  }

}
