@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* ProseImage component */

  :root {
    --content-padding: theme('spacing.4');
  }

  /* Gitgraph component */

  :root {
    --gitgraph-color-branch-one: theme('colors.gray.500');
    --gitgraph-color-branch-two: theme('colors.purple.700');
    --gitgraph-color-branch-three: theme('colors.amber.600');
  }
  .dark {
    --gitgraph-color-branch-one: theme('colors.gray.200');
    --gitgraph-color-branch-two: theme('colors.purple.400');
    --gitgraph-color-branch-three: theme('colors.amber.400');
  }

}

@layer components {

  /* https://css-tricks.com/aspect-ratio-boxes/ */

  .aspect-ratio {
    @apply relative h-0;
    padding-bottom: calc(var(--height) / var(--width) * 100%);
  }
  .aspect-ratio :where(img, iframe) {
    @apply !my-0 absolute top-0 left-0 w-full h-full;:w
  }

  pre code .line.highlighted {
    @apply bg-gray-200 dark:bg-gray-800;
  }

  /* HotTip component */

  .hot-tip > * {
    @apply last:mb-0;
  }
  /* remove the bottom margin from last code blocks in light mode */
  /* because they are 2nd to last, the last one is hidden for dark mode */
  .hot-tip pre:nth-last-child(2) {
    @apply mb-0;
  }
  .hot-tip :is(code:not(pre code), pre) {
    @apply light:bg-purple-50 shadow-sm border-0 dark:shadow-none;
  }

  /* hand waving on the About page */

  .animate-hand-wave {
    animation-name: hand-wave;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    transform-origin: bottom;
  }
  @keyframes hand-wave {
      0% { transform: rotate(0.0deg)  }
     10% { transform: rotate(14.0deg) } /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate(0.0deg)  } /* Reset for the last half to pause */
    100% { transform: rotate(0.0deg)  }
  }

}

/* exclude this rule from purging because tweets are being loaded using a library */

.twitter-tweet {
  @apply mx-auto;
}

@layer utilities {

  /* TODO: how does this compare to Tailwind's overscroll-behavior utilities? */

  .overflow-scrolling-touch {
    -webkit-overflow-scrolling: touch;
  }

}
