.title {
  margin-bottom: 0;
  color: #000;
}

.meta {
  margin: 0.5rem 1rem 1rem;
  display: inline-block;
  text-align: left;
}

.metaRow {
  display: flex;

  .icon {
    margin-top: 0.25rem;

    & + * {
      margin-left: 0.5rem;
    }
  }
}

.twitterShare {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  line-height: 0;
}

.nextPost {
  color: var(--grey);
}

.disqus {
  margin-top: 2rem;
}
