<div class="bio">
  <div class="container">
    <div class="inner">
      <img
        class="bio-image"
        src="{{ site.baseurl }}{{ site.author.image }}"
        width="320" height="180"
        alt="{{ site.author.name }}"
      />
      <div class="bio-text">
        <h3 class="bio-title">{{ site.author.name }}</h3>
        {{ site.author.bio | markdownify }}
        <ul class="bio-social">
          <li class="github">
            <a href="https://github.com/{{ site.author.github }}" title="GitHub">
              <i class="icon icon-github"></i>
            </a>
          </li>
          <li class="twitter">
            <a href="https://twitter.com/{{ site.author.twitter }}" title="Twitter">
              <i class="icon icon-twitter"></i>
            </a>
          </li>
          <li class="email">
            <a href="mailto:{{ site.author.email }}" title="Email">
              <i class="icon icon-email"></i>
            </a>
          </li>
          <li class="facebook">
            <a href="https://facebook.com/{{ site.author.facebook }}" title="Facebook">
              <i class="icon icon-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
