html {
  font-family: $sans-fallback;

  &.wf-active {
    font-family: $sans;
  }
}

code, pre {
  font-family: $monospace-fallback !important;

  .wf-active & {
    font-family: $monospace !important;
  }
}
