pre {
  margin: 1rem -1rem !important;
  padding: 1rem;
  border-radius: 0.3em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  // fallback
  background: #f5f2f0;

  @media (max-width: 800px) {
    border-radius: 0 !important;
  }
}

:not(pre) > code {
  padding: 0 .25em;
  border: 1px solid rgba(#000, 0.1);
  border-radius: 0.25rem;
  background: #f8f8f8;
  word-wrap: break-word;
  color: #333;
  text-transform: none; // resetting in case the parent is uppercase
}

a {
  code {
    color: $color-primary-light;
    text-decoration: inherit;
  }

  &:hover,
  &:focus {
    code {
      color: $color-primary-dark;
    }
  }
}
