.navigation {
  @include font-smoothing;
  margin-bottom: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: $color-primary-dark;
  text-align: center;
  color: #fff;

  ol, ul {
    @include list-unstyled;
    @include clearfix;
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: .25em;
    color: mix($color-primary-dark, #fff, 35%);
    color: rgba(#fff, .65);
    text-decoration: none;

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  .active a {
    font-weight: 700;
    color: #fff;
  }
}
