.post {
  margin-bottom: 2rem;

  h2 {
    border-bottom: 2px solid rgba(#000, 0.1);
  }

  img {
    &.pull-left {
      float: none;

      @media (min-width: 800px) {
        float: left;
      }
    }

    &.pull-right {
      float: none;

      @media (min-width: 800px) {
        float: right;
      }
    }
  }

  &-header {
    text-align: center;
  }

  &-title {
    font-weight: 500;

    @include query(sm) {
      font-size: 2.5em;
    }
  }

  &-meta {
    margin-bottom: 1rem;
    font-size: 0.9em;
    color: #777;
  }

  &-updated {
    &::before {
      content: "\2014";
    }

    a {
      color: inherit;

      &:hover,
      &:focus {
        color: #333;

        + i {
          color: #333;
          transform: scale(1);
        }
      }
    }

    i {
      position: relative;
      top: 2px;
      text-decoration: none;
      color: transparent;
      transition: all .2s;
      transform: scale(0.001);
    }
  }

  @import "post-short";
}

.footnotes {
  margin-top: 2rem;
  font-size: 0.75em;

  &:before {
    content: '';
    display: block;
    max-width: 300px;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(#000, 0.1);
  }

  ol {
    padding-left: 1rem;
  }
}
