@layer components {
  .github-corner {
    & svg {
      @apply text-white dark:fill-light dark:text-gray-900;
      fill: #333;
      position: absolute;
      top: 0;
      border: 0;
      right: 0;
    }

    & .octo-arm {
      fill: currentColor;
      transform-origin: 130px 106px;
    }

    & .octo-body {
      fill: currentColor;
    }

    &:hover .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }

  @media (max-width: 500px) {
    .github-corner {
      &:hover .octo-arm {
        animation: none;
      }
      & .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
      }
    }
  }

  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }
}
