@custom-media --max-x-small (max-width: 575px);
@custom-media --min-small (min-width: 576px);
@custom-media --max-small (max-width: 767px);
@custom-media --min-medium (min-width: 768px);
@custom-media --max-medium (max-width: 991px);
@custom-media --min-large (min-width: 992px);
@custom-media --max-large (max-width: 1199px);
@custom-media --min-x-large (min-width: 1200px);
@custom-media --max-x-large (max-width: 1439px);
@custom-media --min-xx-large (min-width: 1440px);

@custom-media --author-breakpoint (min-width: 768px);

@custom-selector :--hanging-single-quotes .hanging-single-quotes;
@custom-selector :--hanging-double-quotes .hanging-double-quotes;

:root {
  --base-font-family: Lora, Georgia, Times, "Times New Roman", serif;
  --alt-font-family: system-ui;
  --code-font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;

  --base-font-size: 18px;
  --code-font-size: 1em;
  --line-height: 1.75;

  --site-padding: 1rem;
  --spacing: 1rem;
  --border-radius: 0.5rem;

  --z-header: 1;
  --z-github-corner: 2;

  --logo-width: 2rem;
  --logo-height: 2rem;

  /* http://www.colourlovers.com/palette/4581821/Haunted */
  --h-beige-light: 35;
  --s-beige-light: 80%;
  --l-beige-light: 90%;
  --beige-light: hsl(
    var(--h-beige-light),
    var(--s-beige-light),
    var(--l-beige-light)
  );

  --h-beige: 26;
  --s-beige: 96%;
  --l-beige: 90%;
  --beige: hsl(
    var(--h-beige),
    var(--s-beige),
    var(--l-beige)
  );

  --h-red: 5;
  --s-red: 80%;
  --l-red: 67%;
  --red: hsl(
    var(--h-red),
    var(--s-red),
    var(--l-red)
  );

  --h-blue: 195;
  --s-blue: 100%;
  --l-blue: 33%;
  --blue: hsl(
    var(--h-blue),
    var(--s-blue),
    var(--l-blue)
  );

  --h-blue-dark: 209;
  --s-blue-dark: 30%;
  --l-blue-dark: 28%;
  --blue-dark: hsl(
    var(--h-blue-dark),
    var(--s-blue-dark),
    var(--l-blue-dark)
  );

  /* http://colorsafe.co */
  --h-grey: 0;
  --s-grey: 0%;
  --l-grey: 41%;
  --grey: hsl(
    var(--h-grey),
    var(--s-grey),
    var(--l-grey)
  );

  --h-light-grey: 0;
  --s-light-grey: 0%;
  --l-light-grey: 50%;
  --light-grey: hsl(
    var(--h-light-grey),
    var(--s-light-grey),
    var(--l-light-grey)
  );
}

@media (--min-small) {
  :root {
    --base-font-size: 20px;

    --spacing: 1.5rem;

    --logo-width: 3rem;
    --logo-height: 3rem;
  }
}
