@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lora:400,400i,700&display=swap&subset=latin-ext');
@import 'bootstrap/dist/css/bootstrap-reboot.min.css';
@import 'minireset.css';
@import 'prism-themes/themes/prism-atom-dark.css';

html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--base-font-family);
  line-height: var(--line-height);
  font-size: 0.85rem;
  @media (--min-small) {
    font-size: 1rem;
  }
}

code {
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
}
