:root {
  --base-font-size: 18px;
  --code-font-size: 16px;

  --margin-bottom: 1rem;

  --logo-width: 2rem;
  --logo-height: 2rem;
}

@media (--min-small) {
  :root {
    --base-font-size: 20px;
    --code-font-size: 18px;

    --margin-bottom: 1.5rem;

    --logo-width: 3rem;
    --logo-height: 3rem;
  }
}
