/* copied from https://loading.io/css/ */

@layer components {
  .lds-ripple {
    @apply inline-block relative w-[80px] h-[80px];
  }
  .lds-ripple div {
    @apply absolute border-4 rounded-full border-purple-500 dark:border-purple-300;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}
