@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --page-padding: theme('spacing.4');
  }

  :root {
    --gitgraph-color-branch-one: theme('colors.gray.500');
    --gitgraph-color-branch-two: theme('colors.purple.700');
    --gitgraph-color-branch-three: theme('colors.amber.600');
  }
  .dark {
    --gitgraph-color-branch-one: theme('colors.gray.200');
    --gitgraph-color-branch-two: theme('colors.purple.400');
    --gitgraph-color-branch-three: theme('colors.amber.400');
  }

}
