.author {
  margin: 1.5rem 0;
}

.blog {
  margin-bottom: 2rem;
}

.buttonList {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  > * + * {
    margin-left: 1rem;
  }
}

.buttonLabel {
  display: none;
  @media (--min-small) {
    display: inline;
  }
}
