.wrapper {
  margin: 2rem 0 3rem;
  background: color(#fff shade(10%));
  font-family: var(--base-font-family);
  text-align: center;
  @media (--author-breakpoint) {
    text-align: left;
  }
}

.container {
  @media (--author-breakpoint) {
    display: flex;
    align-items: stretch;
  }
}

.avatar {
  box-sizing: content-box;
  width: 128px;
  height: 128px;
  border-radius: 0 0 0.5rem 0.5rem;
  @media (--author-breakpoint) {
    width: 256px;
    height: 256px;
    margin: 0 1rem 0 0;
    border-radius: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.contentWithLinks {
  composes: content;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}
.contentWithoutLinks {
  composes: content;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  @media (--author-breakpoint) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.biography {
  font-style: italic;
  font-size: 0.85rem;
}

.socialContainer {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  @media (--author-breakpoint) {
    left: auto;
    transform: translate(0%, 50%);
  }
}

.socialLink {
  display: block;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: 0.25rem solid #fff;
  border-radius: 50%;
  background: var(--color);
  color: #fff;
  line-height: 0;
  &:hover,
  &:focus {
    background: var(--color-hover);
    color: #fff;
    text-decoration: none;
  }
}
