.link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid color-mod(var(--blue) tint(25%));
  border-radius: 1rem;
  font-family: var(--alt-font-family);
  text-decoration: none;
  white-space: nowrap;
  &:hover,
  &:focus {
    text-decoration: none;
    background: color-mod(var(--blue) tint(90%));
    border-color: color-mod(var(--blue-dark) tint(25%));
  }
}

.icon {
  margin-right: 0.5rem;
}
