.header {
  position: relative;
  z-index: var(--z-header);
  text-align: center;
}

.topBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  align-items: center;
  height: 3rem;
  margin: 1rem 0;
  @media (--min-small) {
    height: 3.5rem;
  }
}

.middle {
  display: flex;
  justify-content: center;
  > * {
    margin: 0 !important;
  }
}
