.media {
  margin: 0 calc(var(--site-padding) * -1);
  margin-bottom: var(--spacing);
  overflow: hidden;
  @media (--min-large) {
    margin-left: auto;
    margin-right: auto;
    &.rounded {
      border-radius: var(--border-radius);
    }
  }

  img,
  iframe {
    display: block;
  }
}

.caption {
  max-width: 36rem;
  margin: -0.5rem auto;
  margin-bottom: var(--spacing);
  text-align: center;
  font-size: 0.75rem;
  font-style: italic;
  color: color-mod(#000 tint(50%));
}

.tweet {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing);

  // responsive
  twitter-widget {
    max-width: 500px !important;
    width: auto !important;
  }
}
