.container {
  display: flex;
  justify-content: center;
  font-family: var(--alt-font-family);
}

.inner {
  display: flex;
  align-items: center;
  background: color(#fff shade(10%));
  border-radius: var(--border-radius);
}

.navItem {
  display: block;
  width: 5rem;
  text-align: center;
  padding: 0.5rem 0;
}

.navLinkLeft {
  composes: navItem;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-left: 0.25rem solid transparent;
  transition: border-color 0.2s;
  &:hover,
  &:focus {
    color: var(--blue-dark);
    border-left-color: var(--blue);
  }
}

.navLinkRight {
  composes: navItem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-right: 0.25rem solid transparent;
  transition: border-color 0.2s;
  &:hover,
  &:focus {
    color: var(--blue-dark);
    border-right-color: var(--blue);
  }
}

.navDisabled {
  composes: navItem;
  color: color(#fff shade(35%));
}

.status {
  margin: 0 1rem;
}
