.meta {
  margin-bottom: 0.5rem;
  @media (--min-small) {
    margin-bottom: 1rem;
  }
}

.seriesLabel {
  display: flex;
  align-items: center;
  font-family: var(--alt-font-family);
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--grey);

  @media (--min-small) {
    font-size: 1rem;
  }

  .icon {
    margin-right: 0.25rem;
    width: 1.5em;
  }

  .text {
    transform: translateY(0.15em);
  }
}

.title {
  composes: h2 from './body.module.css';
  margin-bottom: 0.5rem;
}

.smallTitle {
  composes: h3 from './body.module.css';
  margin-bottom: 0.5rem;
}

.more {
  margin-top: -0.5rem;
  font-family: var(--alt-font-family);
  @media (--min-small) {
    margin-top: -1rem;
  }

  + * {
    margin-top: 0.5rem;
  }
}

.seriesParts {
  composes: ol from './body.module.css';
}
