<!DOCTYPE html>
<html class="no-js wf-loading" lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.part == true %}
      {% assign parent_id = page.id | split: '-pt' | first %}
      {% assign parent = site.posts | where: 'id', parent_id | first %}
    {% endif %}
    <title>{% if page.title %}{% if parent %}{{ parent.title }}: {% endif %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo title=false %}
    {% feed_meta %}
    {% include fonts.html %}
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
    <script src="{{ site.baseurl }}/scripts/vendor/prism.js" defer></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/application.css">
  </head>

  <body>
    <header class="header" role="banner">
      <div class="container">
        <div class="brand">
          <div class="brand-logo">
            <a href="{{ site.baseurl }}/">
              <img src="{{ site.baseurl }}/images/logo.png" width="40" alt="logo" />
              <span>{{ site.title }}</span>
            </a>
          </div>
          <p class="brand-tagline">{{ site.description }}</p>
        </div>
      </div>
    </header>
    <main class="main" role="main">

      {{ content }}

    </main>
    {% include analytics.html %}
  </body>
</html>
