@layer components {
  /* purgecss start ignore */
  [data-search] {
    @apply relative;
    --size: theme('spacing.7');
    @screen sm { --size: theme('spacing.8'); }
    @screen lg { --size: theme('spacing.10'); }
    @screen 2xl { --size: theme('spacing.11'); }

    .wrapper {
      @apply absolute top-0 right-0 focus-within:w-full transition-all duration-300 2xl:top-1;
      width: var(--size);
      height: var(--size);
    }

    label {
      @apply relative z-20 flex items-center justify-center cursor-pointer;
      width: var(--size);
      height: var(--size);
    }

    svg {
      @apply w-4 h-4 lg:w-6 lg:h-6;
    }

    [role=combobox] {
      @apply absolute z-10 top-0 right-0 w-full h-full;

      input {
        @apply block w-full h-full bg-gray-200 dark:bg-gray-700 outline-none focus:pr-2 lg:text-lg xl:text-xl 2xl:text-2xl;
        padding-left: var(--size);
        border-radius: calc(var(--size) / 2);
      }

      &[aria-expanded=true] input {
        @apply bg-transparent;
      }
    }

    [role=listbox] {
      @apply absolute top-0 inset-x-0 lg:text-lg xl:text-xl 2xl:text-2xl;
      &.open {
        @apply bg-gray-100 dark:bg-gray-800 shadow-md rounded-lg overflow-hidden;
        padding-top: var(--size);
      }
    }

    [role=option] {
      @apply p-2 cursor-pointer;
    }

    [aria-selected=true] {
      @apply bg-purple-200 dark:bg-desatPurple-900;
    }
  }
  /* purgecss end ignore */
}
